<!DOCTYPE html>
<html lang="en">
<head>
     <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1>Sign Up</h1>
     <form action="/user" method="post" style="margin-bottom:20px;"> 
        <label for="username">Name:</label><br>
        <input type="text" name="username" placeholder="username" required style="width:300px; padding:5px; margin-bottom:10px;"><br>
        <label for="email">Email:</label><br>
        <input type="email" name="email" placeholder="Email" required style="width:300px; padding:5px; margin-bottom:10px;"><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password" placeholder="Password" required style="width:300px; padding:5px; margin-bottom:10px;"><br>
        <button type="submit" style="padding:5px 10px;">Sign Up</button>
     </form>
</body>
</html>